<h1>New Factory</h1>

<%= form_for([@manufacturer, Factory.new]) do |f| %>
  <%= f.label :city %>
  <%= f.text_field :city %>
<br>
  <%= f.label :state %>
  <%= f.text_field :state %>
<br>
  <%= f.radio_button :unionized, 'Unionized', :checked => true %>
  <%= label :unionized, 'Unionized' %>
  <%= f.radio_button :unionized, 'Not Unionized' %>
  <%= label :unionized, 'Not Unionized' %>
<br>
    <%= f.button "New Factory" %>
<% end %>
