<h1> <%= @manufacturer.name %> </h1>

<p> <%= @manufacturer.name %> is a <% if @manufacturer.domestic %> domestic <% else %> foreign <% end %> car manufacturer.</p>

<h2>Car Models</h2>
  <ul>
    <% @manufacturer.car_models.each do |car| %>
      <li><%= car.name %></li>
    <% end %>
  </ul>

  <h2>Factories</h2>
  <table>
  <tr>
    <th>City</th>
    <th>State</th>    
    <th>Unionized?</th>
  </tr>
   <% @manufacturer.factories.each do |factory| %>
    <tr>
      <td><%= factory.city %></td>
      <td><%= factory.state %></td>    
      <td><%= factory.unionized %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Edit", edit_manufacturer_path(@manufacturer) %></p>

<p><%= link_to "New Car Model", new_manufacturer_car_model_path(@manufacturer) %></p>

<p><%= link_to "New Factory", new_manufacturer_factory_path(@manufacturer) %></p>

<p><%= link_to "Home", root_path %></p>
