<h1>New Car Model</h1>

<%= form_for([@manufacturer, CarModel.new]) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
<br>
  <%= f.label :mpg %>
  <%= f.text_field :mpg %>
<br>
  <%= f.label :price %>
  <%= f.text_field :price %>
<br>
    <%= f.button "New Car" %>
<% end %>
