<!DOCTYPE html>
<html>
<head>
  <title>RorQuizApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <p style="color: #00ff00; background: #44cc44; border: 1px solid #00ff00; padding: 10px">
      <%= value %>
    </p>
  <% end %>

<%= yield %>

</body>
</html>
