<!DOCTYPE html>
<html>
<head>
  <title>RorQuizApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <p class="flash">
      <%= value %>
    </p>
  <% end %>

<% if session[:user] %>
  <p><%= "Currently logged in as #{session[:user]}." %></p>
  <p><%= link_to "Log out", logout_path, method: :delete %></p>
<% else %>
  <p><%= link_to "Log in", login_path %></p>
<% end %>

<%= yield %>

</body>
</html>
